<html>
    <head>
        <meta charset="UTF-8">
         {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'belt/css/styles.css' %}" media="screen" title="no title" charset="utf-8">
     	<!-- Latest compiled and minified CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    	<!-- Optional theme -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    	<!-- Latest compiled and minified JavaScript -->
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Add Travel Plan</title> 

    </head>
    <body>
           
     <div class="container">
            <div class="header">
  
        </div>
        <div class="headerright">
            <a href="{% url 'belt:index' %}">Home</a>
            <a href="{% url 'login:logout' %}">Logout</a>
        </div>
      

        <br>
        <br>
        <h3>Add Travel Plan</h3>
        <form action = "{% url 'belt:newplan' %}" method ="POST">
        {% csrf_token %}

       <p> Destination<input type = "text" name="destination" class="form-control"></p><br>
       <p> Description:<textarea class ="form-control" rows = "3" cols = "3" name="plan"></textarea></p>
       <br>
       <p> Start Date: (yyyy-mm-dd ex. 2000-08-08  )<input type = "text" name="start" class="form-control"></p>
       <p> End Date: (yyyy-mm-dd ex. 2000-08-08  )<input type = "text" name="end" class="form-control"></p>
        <input type = "submit" value="Add">
        </form>

        <br><br>
       {% if messages %}
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
       {% endif %}


	   </div>
    </body>
</html>